# Dependencies
/node_modules

# Next.js & Builds
/.next/
/out/
/build
/coverage

# TypeScript
*.tsbuildinfo

# Environment & Secrets
.env
.env*.local
.env.production
!.env.example
!.env.local.example

# Vercel
.vercel

# Operating System & Security
.DS_Store
Thumbs.db
desktop.ini
*.pem

# Logs
npm-debug.log*

# Editor directories (optional)
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
